<% provide(:title, 'About') %>

<div class="container", style= "padding-top: 50px;">
	<div class="jumbotron">
		<h1>Stuff About Me!</h1>
		<p>Hullo!</p>
		<p><%= link_to "Contact Me &raquo;" .html_safe, contact_path, class: "btn btn-primary btn-large" %></p>
	</div>

