<% provide(:title, 'Art') %>

<div class="container", style= "padding-top: 50px;">
	<div class="panel panel-default", >
	  <!-- Default panel contents -->
	  <div class="panel-heading">Qualifications</div>

	  <!-- Table -->
	  <table class="table table-condensed table-hover">
	  	<thead>
	  		<tr>
	  			<th>Skills</th>
	  			<th>Level</th>
	  		</tr>
	  	</thead>
	  	<tbody>
		    <tr>
		    	<td>Adobe Photoshop</td>
		    	<td>4 Stars</td>
		    </tr>
		    <tr>
		    	<td>Adobe Illustrator</td>
		    	<td>4 Stars</td>
		    </tr>
		    <tr>
		    	<td>Sketching</td>
		    	<td>2 Stars</td>
		    </tr>
		    <tr>
		    	<td>Blender</td>
		    	<td>1 Stars</td>
		    </tr>
		</tbody>
	  </table>
	</div>

	<div class="row">

		<div class="col-xs-6 col-md-4">
			<div class="thumbnail">
				<img data-src="holder.js/300%x200" alt="...">
				<div class="caption">
					<h3>Thumbnail label</h3>
						<p>HERE IS A PLACE FOR MY ART ... IF I HAD ONE</p>
						<p><a href="#" class="btn btn-primary" role="button">BUTTON &raquo;</a></p>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-md-4">
			<div class="thumbnail">
				<img data-src="holder.js/300%x200" alt="...">
				<div class="caption">
					<h3>Thumbnail label</h3>
						<p>HERE IS A PLACE FOR MY ART ... IF I HAD ONE</p>
						<p><a href="#" class="btn btn-primary" role="button">BUTTON &raquo;</a></p>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-md-4">
			<div class="thumbnail">
				<img data-src="holder.js/300%x200" alt="...">
				<div class="caption">
					<h3>Thumbnail label</h3>
						<p>HERE IS A PLACE FOR MY ART ... IF I HAD ONE</p>
						<p><a href="#" class="btn btn-primary" role="button">BUTTON &raquo;</a></p>
				</div>
			</div>
		</div>

	</div>
