<% provide(:title, 'Code') %>
<% provide(:code, "active") %>

<div class="container", style= "padding-top: 50px;">
	<div class="panel panel-default", >
	  <!-- Default panel contents -->
	  <div class="panel-heading">Qualifications</div>

	  <!-- Table -->
	  <table class="table table-condensed table-hover">
	  	<thead>
	  		<tr>
	  			<th>Language</th>
	  			<th>Level</th>
	  		</tr>
	  	</thead>
	  	<tbody>
		    <tr>
		    	<td>Java</td>
		    	<td>4 Stars</td>
		    </tr>
		    <tr>
		    	<td>OCaml</td>
		    	<td>2 Stars</td>
		    </tr>
		    <tr>
		    	<td>Unix</td>
		    	<td>2 Stars</td>
		    </tr>
		    <tr>
		    	<td>Python</td>
		    	<td>2 Stars</td>
		    </tr>
		</tbody>
	  </table>
	</div>

	<div class ="body-content">
		<div class="col-lg-8">
			<h2>Check out my Github!</h2>
			<p>As of now all of my completed projects can be found here.</p>
			<p><%= link_to "Onwards! &raquo;".html_safe, "https://www.github.com/Chongor", :target => "_blank", class: "btn btn-default" %></p>
		</div>
	</div>
